{% extends "layout.html" %}

{% block subtitle %}Dashboard{% endblock %}

{% block body %}
    <script>
        webix.ui({
            type: "space",
            cols: [
                {
                    id: "tree", view: "tree",
                    width: 200, select: true,
                    data: [
                        {
                            _type: "form", value: "Form", data: [],
                        },
                    ],
                },
                {
                    rows: [],
                },
            ],
        })

        const tree = $$("tree")
        const context_menu = webix.ui({
            view: "contextmenu", width: 200, master: tree,
            data: [
                {id: "form-properties", value: "Form Properties"},
                {id: "form-add-datablock", value: "Add Datablock"},
                {id: "datablock-properties", value: "Datablock Properties"},
                {id: "datablock-add-item", value: "Add Item"},
                {id: "item-properties", value: "Item Properties"},
            ],
        })

        tree.attachEvent("onBeforeContextMenu", function (id) {
            let item = tree.getItem(id)

            tree.select(item.id)
            context_menu.data.each(function (datum) {
                context_menu.hideItem(datum.id)
            })

            switch (item._type) {
                case "form":
                    context_menu.showItem("form-properties")
                    context_menu.showItem("form-add-datablock")
                    break
                case "datablock":
                    context_menu.showItem("datablock-properties")
                    context_menu.showItem("datablock-add-item")
                    break
                case "item":
                    context_menu.showItem("item-properties")
                    break
            }
        })

        context_menu.attachEvent("onItemClick", function (id) {
            let newItem = {}
            let selectedItem = tree.getSelectedItem()

            switch (id) {
                case "form-add-datablock":
                    newItem = {_type: "datablock", value: "Datablock"}
                    break
                case "datablock-add-item":
                    newItem = {_type: "item", value: "Item"}
                    break
            }

            tree.add(newItem, -1, selectedItem.id)
            tree.open(selectedItem.id)
        })
    </script>
{% endblock %}