{% extends "layout.html" %}

{% block subtitle %}Dashboard{% endblock %}

{% block body %}

    <style>
        .webix_icon.custom_icon_red {
            color: red !important;
        }
    </style>

    <script>

        let tree_folder_callback = function (item) {
            let icon_class = "webix_icon mdi ";
            switch (item._type) {
                case "form":
                    icon_class += "mdi-application-cog-outline";
                    return `<span class="${icon_class}"></span>`;
                case "datablock":
                    icon_class += "mdi-database-cog-outline";
                    return `<span class="${icon_class}"></span>`;
                case "item":
                    icon_class += "mdi-form-textbox";
                    return `<span class="${icon_class}"></span>`;
            }
        };

        let tree_template_callback = function (item, common) {
            let prefix_sign = `${common.icon(item, common)} ${common.folder(item, common)}`;
            let error_sign = `<span class="webix_icon custom_icon_red mdi mdi-close-circle-outline"><span>`;
            if ((item.$name === undefined) || (item.$name === "")) {
                return `${prefix_sign} <span>${item.value}</span> ${error_sign}`;
            }
            return `${prefix_sign} <span>${item.value}</span>`;
        };

        webix.ui({
            cols: [
                {
                    type: "space", width: 300,
                    rows: [
                        {
                            id: "tree", view: "tree", select: true, data: [],
                            type: {folder: tree_folder_callback},
                            template: tree_template_callback,
                        },
                        {
                            id: "property-form", view: "property", hidden: true,
                            elements: [
                                {type: "label", label: "General"},
                                {label: "id", id: "id"},
                                {type: "text", label: "$name", id: "$name"},
                            ],
                        },
                        {
                            id: "property-datablock", view: "property", hidden: true,
                            elements: [
                                {type: "label", label: "General"},
                                {label: "id", id: "id"},
                                {type: "text", label: "$name", id: "$name"},
                                {
                                    type: "combo", label: "$type", id: "$type", options: [
                                        {id: "form", value: "Form"},
                                        {id: "tabular", value: "Tabular"},
                                    ]
                                },
                            ],
                        },
                        {
                            id: "property-item", view: "property", hidden: true,
                            elements: [
                                {type: "label", label: "General"},
                                {label: "id", id: "id"},
                                {type: "text", label: "$name", id: "$name"},
                                {type: "text", label: "$label", id: "$label"},
                                {
                                    type: "combo", label: "$type", id: "$type", options: [
                                        {id: "text", value: "Text"},
                                        {id: "numeric", value: "Numeric"},
                                        {id: "date", value: "Date"},
                                        {id: "datetime", value: "Date Time"},
                                        {id: "currency", value: "Currency"},
                                        {id: "checkbox", value: "Checkbox"},
                                    ]
                                },
                            ],
                        },
                    ],
                },
                {
                    type: "space", rows: []
                },
            ],
        });

        const tree = $$("tree");
        const property_form = $$("property-form");
        const property_datablock = $$("property-datablock");
        const property_item = $$("property-item");
        const context_menu_form = webix.ui({
            view: "contextmenu", width: 200,
            data: [
                {
                    id: "insert", value: "Insert", data: [
                        {id: "insert-datablock", value: "Data Block"},
                    ]
                },
                {$template: "Separator"},
                {id: "triggers", value: "Triggers"},
            ],
        });
        const context_menu_datablock = webix.ui({
            view: "contextmenu", width: 200,
            data: [
                {
                    id: "insert", value: "Insert", data: [
                        {id: "insert-item", value: "Item"},
                    ]
                },
                {id: "delete", value: "Delete"},
                {$template: "Separator"},
                {id: "triggers", value: "Triggers"},
            ],
        });
        const context_menu_item = webix.ui({
            view: "contextmenu", width: 200,
            data: [
                {id: "delete", value: "Delete"},
                {$template: "Separator"},
                {id: "triggers", value: "Triggers"},
            ],
        });

        tree.add({_type: "form", value: "Form"});
        context_menu_form.attachTo(tree);
        context_menu_datablock.attachTo(tree);
        context_menu_item.attachTo(tree);

        tree.attachEvent("onBeforeContextMenu", function (id) {
            let item = tree.getItem(id);
            tree.select(item.id);
        });
        tree.attachEvent("onBeforeSelect", function () {
            property_form.hide();
            property_datablock.hide();
            property_item.hide();
        });
        tree.attachEvent("onAfterSelect", function (id) {
            let item = tree.getItem(id);
            switch (item._type) {
                case "form":
                    property_form.clear();
                    property_form.setValues(item);
                    property_form.show();
                    break;
                case "datablock":
                    property_datablock.clear();
                    property_datablock.setValues(item);
                    property_datablock.show();
                    break;
                case "item":
                    property_item.clear();
                    property_item.setValues(item);
                    property_item.show();
                    break;
            }
        });

        context_menu_form.attachEvent("onBeforeShow", function () {
            let item = tree.getSelectedItem();
            return item._type === "form";
        });
        context_menu_datablock.attachEvent("onBeforeShow", function () {
            let item = tree.getSelectedItem();
            return item._type === "datablock";
        });
        context_menu_item.attachEvent("onBeforeShow", function () {
            let item = tree.getSelectedItem();
            return item._type === "item";
        });
        context_menu_form.attachEvent("onMenuItemClick", function (id) {
            let item = tree.getSelectedItem();
            switch (id) {
                case "insert-datablock":
                    let newItem = {_type: "datablock", value: "Data Block"};
                    let newItemId = tree.add(newItem, -1, item.id);
                    tree.open(item.id);
                    tree.select(newItemId);
                    break;
                case "triggers":
                    webix.message(`"${item.value}" triggers`);
                    break;
            }
        });
        context_menu_datablock.attachEvent("onMenuItemClick", function (id) {
            let item = tree.getSelectedItem();
            switch (id) {
                case "insert-item":
                    let newItem = {_type: "item", value: "Item"};
                    let newItemId = tree.add(newItem, -1, item.id);
                    tree.open(item.id);
                    tree.select(newItemId);
                    break;
                case "delete":
                    webix.confirm({
                        title: "Warning!",
                        type: "confirm-warning",
                        text: "You are about to delete this Data Block. Are you sure?",
                        ok: "Delete",
                    }).then(function () {
                        tree.remove(item.id);
                        property_form.hide();
                        property_datablock.hide();
                        property_item.hide();
                    });
                    break;
                case "triggers":
                    webix.message(`"${item.value}" triggers`);
                    break;
            }
        });
        context_menu_item.attachEvent("onMenuItemClick", function (id) {
            let item = tree.getSelectedItem();
            switch (id) {
                case "delete":
                    webix.confirm({
                        title: "Warning!",
                        type: "confirm-warning",
                        text: "You are about to delete this Item. Are you sure?",
                        ok: "Delete",
                    }).then(function () {
                        tree.remove(item.id);
                        property_form.hide();
                        property_datablock.hide();
                        property_item.hide();
                    });
                    break;
                case "triggers":
                    webix.message(`"${item.value}" triggers`);
                    break;
            }
        });

        property_form.attachEvent("onAfterEditStart", function () {
            tree.disable();
        });
        property_datablock.attachEvent("onAfterEditStart", function () {
            tree.disable();
        });
        property_item.attachEvent("onAfterEditStart", function () {
            tree.disable();
        });
        property_form.attachEvent("onAfterEditStop", function () {
            let form_values = property_form.getValues();
            tree.updateItem(form_values.id, form_values);
            tree.enable();
        });
        property_datablock.attachEvent("onAfterEditStop", function () {
            let form_values = property_datablock.getValues();
            tree.updateItem(form_values.id, form_values);
            tree.enable();
        });
        property_item.attachEvent("onAfterEditStop", function () {
            let form_values = property_item.getValues();
            tree.updateItem(form_values.id, form_values);
            tree.enable();
        });

    </script>

{% endblock %}