{% extends "layout.html" %}

{% block subtitle %}Dashboard{% endblock %}

{% block body %}
    <script>

        let tree_icon_callback = function (item) {
            let icon_class = "webix_icon mdi "
            switch (item._type) {
                case "form":
                    icon_class += "mdi-application-cog-outline"
                    return `<span class="${icon_class}"></span>`
                case "datablock":
                    icon_class += "mdi-database-cog-outline"
                    return `<span class="${icon_class}"></span>`
                case "item":
                    icon_class += "mdi-form-textbox"
                    return `<span class="${icon_class}"></span>`
            }
        }

        webix.ui({
            type: "space",
            cols: [
                {
                    id: "tree", view: "tree",
                    width: 200, select: true,
                    type: {folder: tree_icon_callback},
                    data: [
                        {_type: "form", value: "Form", data: []},
                    ],
                },
            ],
        })

        const tree = $$("tree")
        const context_menu_form = webix.ui({
            view: "contextmenu", width: 200,
            data: [
                {
                    id: "insert", value: "Insert", data: [
                        {id: "insert-datablock", value: "Data Block"},
                    ]
                },
                {id: "delete", value: "Delete"},
                {$template: "Separator"},
                {id: "properties", value: "Properties"},
            ],
        })
        const context_menu_datablock = webix.ui({
            view: "contextmenu", width: 200,
            data: [
                {
                    id: "insert", value: "Insert", data: [
                        {id: "insert-item", value: "Item"},
                    ]
                },
                {id: "delete", value: "Delete"},
                {$template: "Separator"},
                {id: "properties", value: "Properties"},
            ],
        })
        const context_menu_item = webix.ui({
            view: "contextmenu", width: 200,
            data: [
                {id: "delete", value: "Delete"},
                {$template: "Separator"},
                {id: "properties", value: "Properties"},
            ],
        })

        context_menu_form.attachTo(tree)
        context_menu_datablock.attachTo(tree)
        context_menu_item.attachTo(tree)

        tree.attachEvent("onBeforeContextMenu", function (id) {
            let item = tree.getItem(id)
            tree.select(item.id)
        })
        context_menu_form.attachEvent("onBeforeShow", function () {
            let item = tree.getSelectedItem()
            return item._type === "form"
        })
        context_menu_datablock.attachEvent("onBeforeShow", function () {
            let item = tree.getSelectedItem()
            return item._type === "datablock"
        })
        context_menu_item.attachEvent("onBeforeShow", function () {
            let item = tree.getSelectedItem()
            return item._type === "item"
        })

    </script>
{% endblock %}